.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 57px);

  > h1 {
    text-align: center;
    width: 80%;
    font-size: 60px;
    text-transform: uppercase;
  }
}
